include ./mixins/nav.pug
doctype html
html
	head
		title=Index
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="/dist/index.css" rel="stylesheet")
	body.container-fluid
		+nav
		div.row.mt-3
			div.col-md-2
				p Side Column
			div.col-md-6.menu
				form.d-flex.gap-3.mb-3.menu-header
					input(type='search' placeholder='Search')
					button.btn.btn-outline-success(type='submit') Search
				div.d-flex.flex-column.gap-3.menu-body
					each category in menu
						div.category
							div.header
								h4.mb-1 #{category.title}
								hr.mt-0
							div.items.d-flex.flex-column.gap-3
								each menuItem in category.menuItems
									div.card.menu-item
										div.card-body.clearfix
											div.d-flex.flex-direction-row.justify-content-between
												h5.card-title #{menuItem.title}
												h5.card-title.mb-0 #{menuItem.price} €
											h6.card-subtitle.mb-2.text-body-secondary #{menuItem.ingredientDesc}
											div.d-flex.flex-direction-row.justify-content-between
												p.card-text.mb-0 #{menuItem.desc}
												button.btn.btn-primary(value=menuItem.id) Add
			form.order-body
				div.mx-auto
					div.form-group.toggle-check-pair
						input#check-delivery.btn-check(type='radio' name='radio-delivery' checked required)
						label.btn.btn-primary-toggle-white(for='check-delivery' style='border-radius: 30px 0px 0px 30px; width: 50%;') Delivery
						input#check-collection.btn-check(type='radio' name='radio-delivery' required)
						label.btn.btn-primary-toggle-white(for='check-collection' style='border-radius: 0px 30px 30px 0px; width: 50%;') Collection
				div.form-group.form-floating
					input(type='text' name='name')
					label(for='name') Name
				div.form-group.form-floating
					input(type='text' name='email')
					label(for='name') E-Mail
				div.form-group.form-floating
					input(type='tel' name='phone')
					label(for='phone') Phone (Optional)
				div.row.input-address-group
					div.col-md-8.form-group
						div.form-floating
							input(type='text' name='address')
							label(for='name') Address
					div.col-md-4.form-group
						div.form-floating
							input(type='text' name='postcode')
							label(for='name') Eircode (Optional)
				h3.mx-auto.mb-1 Cart
				div.cart-body
					// Menu Item Placeholder (will be moved to Angular)
					div.menu-item-s
						div
							div
								h5 Pepperoni
								h6 Tomato, Cheese, Pepperoni, Basil	
							div
								div
									p The classic Pepperoni pizza, with Alfredo's homemade tomato sauce.
								div.d-flex.flex-row.h-25.align-self-end.gap-1
									button.btn-remove -
									input(type='number' value=1 min=0 max=99)
									button.btn-add +
				button.btn.btn-primary(type='submit' formaction='./api/test' formmethod='POST') Place Order
				
				
	script(src="/dist/bootstrap.min.js")